h1 {
    font-size: 60px;
    color: white;
    font-family: "PMingLiU";
    font-weight: "bold";
    font-weight: 900;
    text-shadow: 5px 5px 5px black;
    position: relative;
}

h1.fadeIn span {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 4s ease-out forwards;
    display: inline-block;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#bg1 {
    background-image: url(background1.png);
    height: 100vh;
    min-width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg2 {
    background-image: url(bg2.png);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p1 {
    font-size: 22px;
    color: white;
    font-family: "PMingLiU";
    font-weight: "bold";
    text-align: left;
}

p1.fadeIn span {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 7s ease-out forwards;
    display: inline-block;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideanimate {
    visibility: hidden;
}

.slideanimate2 {
    visibility: hidden;
}

.slide {
    visibility: visible;
}

#bg3 {
    background-image: url(bg3.png);
    height: 100vh;
    width: 100vw;
    z-index: 3;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bg4 {
    background-image: url(bg4.png);
    height: 110vh;
    width: 100vw;
    z-index: 4;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg5 {
    background-image: url(bg5.png);
    height: 110vh;
    width: 100vw;
    z-index: 4;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p2 {
    font-size: 25px;
    color: white;
    font-family: "PMingLiU";
    font-weight:600;
    text-align: left;
}

p3 {
    font-size: 18px;
    color: white;
    font-family: "PMingLiU";
    font-weight: "bold";
    text-align: center;
}